/*Sidebar*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #582630;
  overflow-x: hidden;
  padding-top: 70px;
  transition: 0.5s;
  -ms-overflow-style: none;
}

.sidenav::-webkit-scrollbar {
  display: none;
}

.sidenav button:hover {
  color: #ff0000;
}

.sidenav .closebtn {
  padding-top: 0.5em;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  transition: 0.3s;
}

#main {
  transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenave a {font-size: 18px;}
}

/*Accordion*/
#settingAccordion .card,
#settingAccordion .card:last-child .card-header{
  background: transparent;
  border-radius: 0;
}

#settingAccordion .card-header,
#settingAccordion .card:last-child .card-header {
  border-bottom-color: #FFF;
  background: #990000;
}
#settingAccordion .card-body {
  color: #fff;
}
#settingAccordion .card-body .form-group:last-child {
  margin-bottom: 0;
}

#settingAccordion .btn {
  color: #fff;
}

/*Icons*/
.settingsbtn {
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.ao3_red { color: #990000; }
.material-icons.ao3_red:hover { color: #582630; }
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
